# binary
**/*.zip
**/*.tar
**/*.tar.*
FS/nvme.img

FS/cp2m5

# Docs
Doc

# baks, tests and tmps
bak/
*.bak
tmp/
*.tmp
test/

# logs
logs/
FS/logs

# symlinks
cmds.gdb

# workspace and runtime files
.vscode/
build
*.img
disks/
